name: input-output

on:
  workflow_dispatch:
    inputs:
      environment:
        description: "Select environment"
        required: true
        default: dev
        type: choice
        options:
          - dev
          - stage
          - prod

jobs:
  job1:
    runs-on: ubuntu-latest
    outputs:
      output1: ${{ steps.set.outputs.test1 }}

    steps:
      - name: set output
        id: set
        run: echo "test1=hello" >> $GITHUB_OUTPUT

      - name: use step output
        run: echo "Step output is: ${{ steps.set.outputs.test1 }}"

  job2:
    needs: job1
    runs-on: ubuntu-latest
    steps:
      - name: use job output
        run: echo "Job output is: ${{ needs.job1.outputs.output1 }}"
