name: input-output
on: 
  workflow_dispatch: 
    
jobs:
  job1:
    runs-on: ubuntu-latest

    steps:
      - name: set output
        id: set
        run: echo "set=hello" >> $GITHUB_OUTPUT
      - name: print output
        run: echo "Job output is ${{ steps.set.outputs.set}}"
