name: input-output

on:
  workflow_dispatch: 
    
    inputs:
      environment:
        description: "Select environment"
        required: true
        default: dev
        type: choice
        options:
          - dev
          - stage
          - prod
jobs:
  job1:
    if: environment != dev
    runs-on: ubuntu-latest

    steps:
      - name: set output
        id: set
        run: echo "set=hello" >> $GITHUB_OUTPUT
  job2:
    needs: job1
    runs-on: ubuntu-latest
    steps:
      - name: use job1 output
        run: |
          echo "Job output is: ${{ needs.job1.outputs.set }}"
